body {
	font-size: 12px;
	font-family: arial;
	background-color: #190405;
}

h1
{
    text-align: center;
    color: #b77474;
}

header h1 {
    width: 800px;
    background: black;
    font-size: 40px;
    font-family: 'Monda', sans-serif;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#top {
	background: url('../img/bg1.png');
	height: 500px;
	border: 2px solid #000;
    margin: 50px 0 0 0;
}

#top article
{
    width: 100%;
    height: 500px;
    margin:0 auto;
    overflow:hidden;   
}
#top article img{display:none;}

#middle
{
    background: url('../img/bg2.png');
    height: 500px;
}

#expo-container
{
    position: relative;
    width: 1200px;
    height: 200px;
    margin: 0px auto;

}

.expo-block
{
    margin-top: -20px;
    height: 300px;
    width: 200px;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    border: 1px solid #000;
    cursor:pointer;
}
.expo-block p {
    margin-top: 25px;
    padding: 10px;
    color: #000;
    line-height: 130%;
    text-align: center;
}

h1.title
{
    position:absolute;
    width:194px;
    height:20px;
    padding:5px 10px 0px 10px;
    color:#fff;
}
h1.ribbon{
    margin-top: 5px;
    margin-left:-8px;
    background-image:url(../img/ribbon.png);
    background-repeat:no-repeat;
}

.shadow {
    box-shadow:0px 0px 10px #fff;   
}