body {
	font-size: 12px;
	font-family: arial;
	background-color: #190405;
}

h1
{
    text-align: center;
    color: #b77474;
}

header h1 {
    width: 800px;
    background: black;
    font-size: 40px;
    font-family: 'Monda', sans-serif;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

#top {
	background: url('../images/bg1.png');
	height: 500px;
	border: 2px solid #000;
    margin: 50px 0 0 0;
}

#top article
{
    width: 100%;
    height: 500px;
    margin:0 auto;
    overflow:hidden;   
}
#top article img{display:none;}

#middle
{
    background: url('../images/bg2.png');
    height: 500px;
}

#expo-container
{
    position: relative;
    width: 1200px;
    height: 200px;
    margin: 0px auto;

}

.expo-block
{
    margin-top: -20px;
    height: 300px;
    width: 200px;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    border: 3px solid #ccc;
    cursor:pointer;
}
.expo-block p {
    margin-top: 25px;
    padding: 10px;
    color: #000;
    line-height: 130%;
    text-align: center;
    font-family: calibri;
    line-height: 16px;
}

h1.title
{
    position:absolute;
    width:194px;
    height:20px;
    padding:5px 10px 0px 10px;
    color:#fff;
}

h1.ribbon{
    margin-top: 5px;
    margin-left:-8px;
    background-image:url(../images/ribbon.png);
    background-repeat:no-repeat;
}

.shadow {
    box-shadow:0px 0px 10px #fff;   
}

iframe {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  cursor: pointer;
  filter: alpha(opacity=20);
}

.hide {
  display: none;
}

.modal {
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  height: 80%;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  padding: 15px;
  height: 75%;
  overflow: hidden;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

#menu-website {
  margin: 0 auto;
  width: 100px;
  padding: 10px;
  font-family: arial;
  font-size: 20px;
}

/* SCROLLBAR */

.modal ::-webkit-scrollbar {
  width: 12px;
}

.modal ::-webkit-scrollbar-thumb {
  background: #d3327a; /* Old browsers */
  background: -moz-linear-gradient(left, #d3327a 0%, #d3327a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d3327a), color-stop(100%,#d3327a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d3327a 0%,#d3327a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d3327a 0%,#d3327a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d3327a 0%,#d3327a 100%); /* IE10+ */
  background: linear-gradient(to right, #d3327a 0%,#d3327a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3327a', endColorstr='#d3327a',GradientType=1 ); /* IE6-9 */
  box-shadow: #525e67 1px 0px 0px inset, rgba(0,0,0,0.3) 0px 1px 1px; 
}

.modal ::-webkit-scrollbar-track {
  background: #cbcbcb; /* Old browsers */
  background: -moz-linear-gradient(left, #cbcbcb 0%, #e1dbdf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cbcbcb), color-stop(100%,#e1dbdf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #cbcbcb 0%,#e1dbdf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #cbcbcb 0%,#e1dbdf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #cbcbcb 0%,#e1dbdf 100%); /* IE10+ */
  background: linear-gradient(to right, #cbcbcb 0%,#e1dbdf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#e1dbdf',GradientType=1 ); /* IE6-9 */
  box-shadow: #ededed 1px 0px 0px inset;
}

/* TOOLTIP */

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://www.ericrasch.com/media/icon-selectbox.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
     text-align: center;
   color: #fff;
   background-image: url(http://www.ericrasch.com/media/icon-selectbox.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}